
config/config.js
api/controllers/frontController.js
assets
views

node_modules
bower_components
config/locales/*.json

.tmp
dump.rdb

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history

.rebooted
.gitignore
application.log