<!DOCTYPE HTML>
<!--
	Lens by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Photos - Aurillac 2015</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Aurillac 2015</h1>
						<p>Festival international <br> de théatre et d'art de rue</p>
						<ul class="icons">
							<li><a href="#" download="Aurillac 2015" class="icon fa-download" title="Télécharger toutes les images"><span class="label">Télécharger toutes les images</span></a></li>
						</ul>
						<p>
							<strong>A voir également:</strong> <br>
							Le nouveau site web de <a href="http://momcreation.fr">Momcreation</a><br>
							<a href="momcreation.fr" > <i class="fa fa-camera"></i> Fourgues Summer Party</a>
						</p>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">

						
						
						<% for(var i in imagesNames ){%>
						<article>
							<a class="thumbnail" href="file/image/Comp/<%- imagesNames[i] %>"><img src="/file/image/Min/<%- imagesNames[i] %>" alt="" /></a>
							<!-- <h2>Diam tempus accumsan</h2> -->
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
						</article>
						<%} %>
					</section>

				<!-- Footer -->
					<footer id="footer">

						<p>
							<strong>A voir également:</strong> <br>
							Le nouveau site web de <a href="http://momcreation.fr">Momcreation</a><br>
							<a href="momcreation.fr" > <i class="fa fa-camera"></i> Fourgues Summer Party</a>
						</p>
						<ul class="copyright">
							<li>&copy; Alexis Momcilovic.</li>
							<li><a href="http://momcreation.fr">Momcreation</a></li>
							<li><a href="http://html5up.net">HTML5 UP</a></li>
							
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
			<script type="text/javascript">

			var imagesName = <%- JSON.stringify(imagesNames) %>;
			console.log(imagesName);
			</script>
	</body>
</html>